{% load i18n %}

{% comment %}
  This help text will only show up if websso is enabled
  because websso introduces new authentication mechanisms.
{% endcomment %}
<p id="help_text">
  {% block websso-help-text %}
    {% blocktrans %}
    <p><strong>The Mass Open Cloud will no longer be supporting OpenStack VMs.</strong> Please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSch4Cv8IO_frA-J2TBYpTS4S-QoX9SX0zKVzE5_JEyluXexkw/viewform?usp=sf_link">this survey</a> if you are interested in migrating your VMs to the New England Research Cloud (<a href="https://nerc.mghpcc.org/">NERC</a>).</p>

    <hr>

      If you are not sure which authentication method to use, or if
      you have other questions about using the Mass Open
      Cloud, read our <a href="https://osticket.massopen.cloud/kb/faq.php?cid=1">FAQ</a>
      or <a href="https://osticket.massopen.cloud/open.php">open a support ticket</a>.
    {% endblocktrans %}
  {% endblock %}
</p>
