{% load i18n branding %}
<!DOCTYPE html>
<html lang="en" xml:lang="en" class="login-rcue">
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% trans "Login" %} - {% site_branding %}</title>
    {% include "_stylesheets.html" %}

    {% include "horizon/_conf.html" %}
    {% include "horizon/client_side/_script_loader.html" %}
    {% include "horizon/_custom_head_js.html" %}

  </head>
  <body id="splash" ng-app='horizon.app' class="login-rcue">
    <a href="http://massopen.cloud/" id="redhat">
      <img src="../../static/themes/moc_theme/images/logo.svg" alt="Red Hat" />
    </a>
    <div style="width: 30%; font-size: 18pt; border: thick solid red; padding: 1em;">
    <p><strong style="font-size: larger; color: red">Warning</strong>: This is a test environment. If you
    are looking for your existing data or running servers, you
    probably want to visit <a href="https://kaizenold.massopen.cloud"
      >https://kaizenold.massopen.cloud</a>.</p>

    <button id="showAuthButton" class="btn btn-primary btn-large">
      I understand that this is a test environment and I am probably in the wrong place
    </button>
    </div>
    <div id="authcontainer" class="container" style="display: none">
      <div class="row-fluid">
        <div class="span12">
          <div id="brand">
            <img src="../../static/themes/moc_theme/images/RHOSP-Login-Logo.svg">
          </div><!--/#brand-->
        </div><!--/.span*-->
        {% include 'auth/_login.html' %}
      </div><!--/.row-fluid-->
    </div><!--/.container-->

    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}

  <script>
    auth = document.getElementById("authcontainer");
    showauth = document.getElementById("showAuthButton");
    showauth.addEventListener("click", function() {
      auth.style.display = "block";
    });
  </script>

  </body>
</html>
